fastapi
uvicorn
sqlalchemy
passlib[bcrypt]
python-dotenv
pyjwt
python-multipart
jose
psycopg2-binary
pydantic-settings
alembic
boto3
python-jose
pytest
Pillow 
reportlab 
requests
pydantic[email]
email-validator
rapidfuzz
celery
redis
aioboto3
motor
pymongo